<!--<section data-ng-controller="HomeController">-->

    <section class="headerimage">
        <div class="wide">

        </div>

    </section>

    <section class="content">

   <div class="row">
       <div class="col-md-6">
           <h1>Welcome to Echarsi.com</h1>
           <p>At Champion we believe that every student should have access
           to resources and people that will help them succeed. At Champion students are able to find
           sponsors who are willing to help fund student projects or education. With your help we can
           alleviate student debt.</p>

       </div>


   </div>



</section>

</section>
