<section class="jumbotron project" data-ng-controller="SearchController">

    <div id="aboutUs" class="clearfix">
        <h1>About Us</h1>

        <p>
            <img src="\modules\core\img\sponsor.jpg">
            At Champion we believe that every student should have access to resources and people that will help them
            succeed. At Champion students are able to find sponsors who are willing to help fund student projects or
            education. With your help we can alleviate student debt.
        </p>
    </div>
    <div id="messageToUniverse" class="clearfix">
        <h1>Message To the Universe</h1>

        <p>
            <img src="\modules\core\img\icon-sponsorship.png">
            We want to build a web application that will enable students who are passionate about learning to be able to
            use it as a tool for self-promotion, networking and portfolio/ experience building. The app will allow them
            to find people who are willing to fund their education or passion projects. The main purpose of this web
            application is to alleviate the amount of student debt that our country has accumulated. Students who are
            entering college can create an account on this app and will be able to create a bio which states their
            major, interests, hobbies, achievements, ongoing projects, completed projects, resume, portfolio and photos
            that describe what they are passionate about and what they want to learn more about.
        </p>
    </div>
</section>
